examples/example-flow.json
[
    {
        "id": "f1234567.890abc",
        "type": "tab",
        "label": "Dobot Example Flow",
        "disabled": false,
        "info": "Example flow demonstrating all Dobot nodes"
    },
    {
        "id": "config1",
        "type": "dobot-connection",
        "name": "Dobot Robot",
        "host": "192.168.1.6",
        "port": "29999",
        "autoConnect": true
    },
    {
        "id": "n1",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Enable Robot",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 60,
        "wires": [["n2"]]
    },
    {
        "id": "n2",
        "type": "dobot-dashboard",
        "z": "f1234567.890abc",
        "name": "Enable Robot",
        "connection": "config1",
        "command": "EnableRobot",
        "parameter": "",
        "x": 300,
        "y": 60,
        "wires": [["n3"]]
    },
    {
        "id": "n3",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Enable Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "n4",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Clear Errors",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 120,
        "wires": [["n5"]]
    },
    {
        "id": "n5",
        "type": "dobot-dashboard",
        "z": "f1234567.890abc",
        "name": "Clear Errors",
        "connection": "config1",
        "command": "ClearError",
        "parameter": "",
        "x": 290,
        "y": 120,
        "wires": [["n6"]]
    },
    {
        "id": "n6",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Clear Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "n7",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Home Position",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"x\": 250, \"y\": 0, \"z\": 200, \"r\": 0}",
        "payloadType": "json",
        "x": 120,
        "y": 200,
        "wires": [["n8"]]
    },
    {
        "id": "n8",
        "type": "dobot-move",
        "z": "f1234567.890abc",
        "name": "Move to Home",
        "connection": "config1",
        "moveType": "MovJ",
        "coordType": "cartesian",
        "x": 320,
        "y": 200,
        "wires": [["n9"]]
    },
    {
        "id": "n9",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Move Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "n10",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Pick Position",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"x\": 300, \"y\": 50, \"z\": 100, \"r\": 0}",
        "payloadType": "json",
        "x": 110,
        "y": 260,
        "wires": [["n11"]]
    },
    {
        "id": "n11",
        "type": "dobot-move",
        "z": "f1234567.890abc",
        "name": "Move to Pick",
        "connection": "config1",
        "moveType": "MovL",
        "coordType": "cartesian",
        "x": 310,
        "y": 260,
        "wires": [["n12"]]
    },
    {
        "id": "n12",
        "type": "delay",
        "z": "f1234567.890abc",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 260,
        "wires": [["n13"]]
    },
    {
        "id": "n13",
        "type": "dobot-io",
        "z": "f1234567.890abc",
        "name": "Gripper Close",
        "connection": "config1",
        "ioType": "ToolDO",
        "index": "1",
        "value": "1",
        "x": 640,
        "y": 260,
        "wires": [["n14"]]
    },
    {
        "id": "n14",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Pick Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "n15",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Start Monitor",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [["n16"]]
    },
    {
        "id": "n16",
        "type": "dobot-status",
        "z": "f1234567.890abc",
        "name": "Monitor Position",
        "connection": "config1",
        "dataType": "position",
        "interval": "1000",
        "autoStart": false,
        "x": 320,
        "y": 340,
        "wires": [["n17", "n18"]]
    },
    {
        "id": "n17",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Position Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.pose",
        "targetType": "msg",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "n18",
        "type": "function",
        "z": "f1234567.890abc",
        "name": "Format Position",
        "func": "if (msg.payload.pose) {\n    const p = msg.payload.pose;\n    msg.payload = `X:${p.x.toFixed(1)} Y:${p.y.toFixed(1)} Z:${p.z.toFixed(1)}`;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [["n19"]]
    },
    {
        "id": "n19",
        "type": "ui_text",
        "z": "f1234567.890abc",
        "group": "ui_group_1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Position Display",
        "label": "Current Position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "n20",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Arc Movement",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mid\": {\"x\": 275, \"y\": 50, \"z\": 150, \"r\": 0}, \"end\": {\"x\": 300, \"y\": 0, \"z\": 150, \"r\": 0}}",
        "payloadType": "json",
        "x": 120,
        "y": 420,
        "wires": [["n21"]]
    },
    {
        "id": "n21",
        "type": "dobot-move",
        "z": "f1234567.890abc",
        "name": "Arc Motion",
        "connection": "config1",
        "moveType": "Arc",
        "coordType": "cartesian",
        "x": 310,
        "y": 420,
        "wires": [["n22"]]
    },
    {
        "id": "n22",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "Arc Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "n23",
        "type": "comment",
        "z": "f1234567.890abc",
        "name": "Robot Control",
        "info": "Basic robot control commands:\n- Enable/Disable robot\n- Clear errors\n- Set speed factors",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "n24",
        "type": "comment",
        "z": "f1234567.890abc",
        "name": "Movement Commands",
        "info": "Various movement types:\n- MovJ: Joint interpolated\n- MovL: Linear interpolated\n- Arc: Arc motion\n- Circle: Circular motion",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "n25",
        "type": "comment",
        "z": "f1234567.890abc",
        "name": "Status Monitoring",
        "info": "Real-time monitoring of:\n- Robot position\n- Joint angles\n- I/O states\n- Error status",
        "x": 100,
        "y": 300,
        "wires": []
    },
    {
        "id": "n26",
        "type": "inject",
        "z": "f1234567.890abc",
        "name": "Read DI 1",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"index\": 1}",
        "payloadType": "json",
        "x": 100,
        "y": 500,
        "wires": [["n27"]]
    },
    {
        "id": "n27",
        "type": "dobot-io",
        "z": "f1234567.890abc",
        "name": "Read DI",
        "connection": "config1",
        "ioType": "DI",
        "index": "1",
        "value": "0",
        "x": 280,
        "y": 500,
        "wires": [["n28"]]
    },
    {
        "id": "n28",
        "type": "debug",
        "z": "f1234567.890abc",
        "name": "DI Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 460,
        "y": 500,
        "wires": []
    },
    {
        "id": "ui_group_1",
        "type": "ui_group",
        "name": "Dobot Status",
        "tab": "ui_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_1",
        "type": "ui_tab",
        "name": "Dobot Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]