examples/example-flow.json
[
    {
        "id": "d6f1c1a6ec7cc1e7",
        "type": "tab",
        "label": "Dobot MG400",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9684fd9130aed472",
        "type": "dobot-command",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "Enable",
        "connection": "eeea6e3b70def264",
        "commandType": "predefined",
        "command": "EnableRobot",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "bc77f30e05420097",
        "type": "dobot-command",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "Disable",
        "connection": "eeea6e3b70def264",
        "commandType": "predefined",
        "command": "DisableRobot",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "2a48684123d7295f",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "9684fd9130aed472"
            ]
        ]
    },
    {
        "id": "406687cd7fb5ab42",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "bc77f30e05420097"
            ]
        ]
    },
    {
        "id": "9ed46cd716ee0dd3",
        "type": "debug",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "Dobot Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "fdc7677cd5433fcd",
        "type": "dobot-status",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "connection": "ecb59a8118d3572d",
        "dataType": "all",
        "outputMode": "stream",
        "pollInterval": "1000",
        "autoStart": true,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "32bcdcc88e3ef5d3",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "fdc7677cd5433fcd"
            ]
        ]
    },
    {
        "id": "0684cd93a80d1991",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "b564bfa615cc6a76"
            ]
        ]
    },
    {
        "id": "b564bfa615cc6a76",
        "type": "dobot-command",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "connection": "eeea6e3b70def264",
        "commandType": "predefined",
        "command": "ClearError",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "800093776d4a8841"
            ]
        ]
    },
    {
        "id": "800093776d4a8841",
        "type": "dobot-command",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "connection": "eeea6e3b70def264",
        "commandType": "predefined",
        "command": "ResetRobot",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "be2a43cce4dbd273",
        "type": "dobot-io",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "DIO 1 = 0",
        "connection": "eeea6e3b70def264",
        "ioType": "DO",
        "index": "1",
        "value": "0",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "396382841ebb1d2c",
        "type": "dobot-io",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "DIO 1 = 1",
        "connection": "eeea6e3b70def264",
        "ioType": "DO",
        "index": "1",
        "value": "1",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "9ed46cd716ee0dd3"
            ]
        ]
    },
    {
        "id": "1ba08a1e3cc50177",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "be2a43cce4dbd273"
            ]
        ]
    },
    {
        "id": "9472220053678684",
        "type": "inject",
        "z": "d6f1c1a6ec7cc1e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "396382841ebb1d2c"
            ]
        ]
    },
    {
        "id": "eeea6e3b70def264",
        "type": "dobot-connection",
        "name": "",
        "host": "169.254.2.6",
        "port": 29999,
        "autoConnect": true
    },
    {
        "id": "ecb59a8118d3572d",
        "type": "dobot-connection",
        "name": "",
        "host": "169.254.2.6",
        "port": "30003",
        "autoConnect": true
    }
]